<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-destroy-method="destroy" default-init-method="init"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.spring.tutorial.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy" factory-method="getInstance">
		<constructor-arg value="777" name="id" type="int"></constructor-arg>
		<constructor-arg value="Mary" name="name" type="String"></constructor-arg>
		<property name="taxId">
			<value>321</value>
		</property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="address" class="com.spring.tutorial.Address">
		<constructor-arg name="street" value="1 Elm street"></constructor-arg>
		<constructor-arg name="postCode" value="986"></constructor-arg>
	</bean>
	
	<bean id="address2" class="com.spring.tutorial.Address" p:street="23 Vineyard Lane" p:postCode="6789">
	
	</bean>

	<bean id="personfactory" class="com.spring.tutorial.PersonFactory">
	</bean>
</beans>
